<div class="formContainer">
  <div class="formBlock">
    <h2>Employee Form</h2>
    <form [formGroup]="employeeForm" (ngSubmit)="employeeDetails(employeeForm.value)">
      <input type="text" formControlName="empid" placeholder="Employee Id">
      <span *ngIf="employeeForm.get('empid')?.errors?.['required'] && employeeForm.get('empid')?.touched">
          Id is required
      </span>
      <input type="text" formControlName="name" placeholder="Your Name">
      <span *ngIf="employeeForm.get('name')?.errors?.['required'] && employeeForm.get('name')?.touched">
        Name is required
    </span>
      <input type="text" onfocus="(this.type='date')" formControlName="dob" placeholder="Your Date of birth">
      <span *ngIf="employeeForm.get('dob')?.errors?.['required'] && employeeForm.get('dob')?.touched">
        Date of birth is required
    </span>
      <input type="text" formControlName="designation" placeholder="Your Designation">
      <span *ngIf="employeeForm.get('designation')?.errors?.['required'] && employeeForm.get('designation')?.touched">
        Designation is required
    </span>
      <input type="text" formControlName="department" placeholder="Your Department">
      <span *ngIf="employeeForm.get('department')?.errors?.['required'] && employeeForm.get('department')?.touched">
        Department is required
    </span>
      <div>
        <button type="submit">Save</button>
        <button type="button" class="cancel" (click)="cancel()">Cancel</button>
      </div>

    </form>
  </div>

</div>
<h1>Employees List</h1>
<table>
  <th>EMPID</th>
  <th>ID</th>
  <th>Name</th>
  <th>Designation</th>
  <th>Department</th>
  <th>Date of birth</th>
  <th>Actions</th>
  <tr *ngFor="let employee of emp">
    <td>{{employee.empid}}</td>
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.designation}}</td>
    <td>{{employee.department}}</td>
    <td>{{employee.dob}}</td>
    <td><button (click)="deleteEmployee(employee.id)" class="del">Delete</button></td>
  </tr>
</table>
