*{
  box-sizing: border-box;
}
.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  // height:100vh;
  height:500px;
}
table{
  width:100%;
  border:1px solid black;
  border-collapse: collapse;

}
th{
  text-align: left;
  border:1px solid black;
  height:40px;
  padding: 10px;

}
td{
  border:1px solid black;
  padding: 10px;
}
span{
  color: red;
}
form{
  display: flex;
  flex-direction: column;

}
input{
  height:40px;
  margin-top: 15px;
}
.formBlock{
  border:1px solid black;
  padding: 20px;
  width:500px;
}
button{
  height:40px;
  background-color: green;
  color:white;
  width:25%;
  border:0;
  margin-right: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.cancel{
  background-color: white;
  color:black;
  border:1px solid black;
}
.del{
  width:90%;
}
