<div class="formContainer">
  <div class="formBlock">
    <h2>Employee Form</h2>
    <form [formGroup]="employeeForm" (ngSubmit)="employeeDetails(employeeForm.value)">
      <input type="text" formControlName="id" placeholder="Employee Id">
      <span *ngIf="employeeForm.get('id')?.errors?.['required'] && employeeForm.get('id')?.touched">
          Id is required
      </span>
      <input type="text" formControlName="name" placeholder="Your Name">
      <span *ngIf="employeeForm.get('name')?.errors?.['required'] && employeeForm.get('name')?.touched">
        Name is required
    </span>
      <input type="text" onfocus="(this.type='date')" formControlName="dob" placeholder="Your Date of birth">
      <span *ngIf="employeeForm.get('dob')?.errors?.['required'] && employeeForm.get('dob')?.touched">
        Date of birth is required
    </span>
      <input type="text" formControlName="designation" placeholder="Your Designation">
      <span *ngIf="employeeForm.get('designation')?.errors?.['required'] && employeeForm.get('designation')?.touched">
        Designation is required
    </span>
      <input type="text" formControlName="department" placeholder="Your Department">
      <span *ngIf="employeeForm.get('department')?.errors?.['required'] && employeeForm.get('department')?.touched">
        Department is required
    </span>
      <div>
        <button type="submit">Save</button>
        <button type="button" class="cancel">Cancel</button>
      </div>

    </form>
  </div>

</div>
